a{
   color: grey;
}
*{
    font-size: 22px;
}

.list,.container{
    margin-top: 20px;
    width: 500px;
}
ul li{
    font-weight: bolder;
}
ul li:first-child{
    font-weight: bold;
}
input{
    border:none; 
    background: transparent; 
    outline: 0;
    width: 460px;
}
.flex-container {
    display: flex ;
    justify-content: space-between;
  }
.text{
    width: 400px;
    overflow-wrap: break-word;
 }
 .img{
    width: 50px;
 }
  